<div class="stylists-button">
  <div class="link-container">
    <a href="/stylists">stylists</a>
  </div>
</div>

<div class="clients-button">
  <div class="link-container">
      <a href="/clients">clients</a>
  </div>
</div>
